@import "tailwindcss";

.bg-custom-gradient {
  background: linear-gradient(to right, #020612 0%, #040b1e 60%, #0c1745 100%);
}

.btn {
  border-radius: 8px;

  background-color: #fed84c;
  color: #2e363e;
  font-size: 18px;
  font-weight: 500;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #060c21;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
